* {

}
.grid1 {
  display: grid;
  grid-column: repeat(12, 1fr);
  padding: 1rem;
}

.grid1 h1 {
  padding-top: 1em ;
  padding-bottom: 1em;
}

.grid2 {
  display: grid;
  grid-column: repeat(12, 1fr);
  padding: 1rem;
  background-color: wheat;
  color: black;
}
.grid2 h2 {

}
.grid3 {
  display: grid;
  grid-column: repeat(12, 1fr);
  background-color: rgb(39, 39, 194);
  padding: 1rem;
  color: black;
}

.grid3 h3 {

}

.grid4 {
  display: grid;
  grid-column: repeat(12, 1fr);
  background-color: rgb(218, 28, 28);
  padding: 1rem;
  color: black;
}

.grid4 h2 {

}
.grid5 {
  display: grid;
  grid-column: repeat(12, 1fr);
  padding: 1rem;
}

section {
    
}

section h2 {
    
}

form {
  
}

legend {
    
}

fieldset>div {
  display: grid;
  grid-column: 1fr 2fr;
  gap: 0 1em;
  width: 100%;    
}

label {
  align-self: right;
}

input {
  align-items: left ;
}

button {

}


section>div {

}