@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Sofia+Sans:ital@1&display=swap');


nav a {
    text-align: center;
    color: rgb(240, 238, 243);
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: blue;
    color: wheat;
}
footer {
    background-color: steelblue;
    color: #fff;
    padding: 20px;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
    
}
footer a {
    color: rgb(240, 236, 243);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
    color:  antiquewhite;
}
footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 4px solid steelblue;
}


h1 {
    text-align: center;
    margin: 50px 0;
}
h2 {
    margin: 0;
}
h4 {
    color: black;
}
main p {
    width: 80%;
    margin: 80px auto;
    text-align: center;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#content {
    max-width: 1600px;
    margin: 0 auto
}
#background {
    height: 725px;
    background-color: #6a95a2;
}
body {
    background-color: #fcfbfb;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0; 
}
header {
    background-color:rgba(20,30,13, .7);
}
.book, .join {
    background-color:gray;
    color: blue;
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: blue;
    color: #fcfbfb;
}
.msg {
    background-color: rgba(245, 222, 179, 0.897);
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: rgb(95, 163, 150);
}
.msg p {
    color: black;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.home-title {
    color: green;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}   