div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    background-color: red ;
    color: rgb(52, 41, 41);
}
h1, h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body {
    background-color: rgb(238, 245, 238); 
}
header {
    background-color:rgba(20,30,13, .7);
}
.book, .join{
    background-color: azure;
    color: blue;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: aquamarine;
    color:black ;
}
.msg{
    background-color: rgb(204, 204, 222);
}
footer{
    background-color: rgb(138, 137, 137);
    color: black ;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
nav a{
    background-color: white;
    color: blue;
    text-decoration: none;
}
.home-title{
    background-color: white;
    color: green;
}
h4{
    background-color:gray;
    color: black;
}
.msg p{
    background-color:rgb(239, 231, 231);
    color: black;
}
.msg h2{
    background-color:grey ;
    color:white ;
}
footer a{
    background-color:gray ;
    color: blue;
    text-decoration: none;
}
footer a:hover{
    background-color:white ;
    color:black ;
}
.icon{
    width: 80px;
}
.logo{
    width: 20%;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}